# ===== Keil MDK 编译输出与界面配置 =====
MDK-ARM/MotorDemoF4/
MDK-ARM/*.uvguix.*
MDK-ARM/.vscode/
MDK-ARM/DebugConfig/
MDK-ARM/*.bak
MDK-ARM/*.lst
MDK-ARM/*.dep
MDK-ARM/*.htm

# ===== STM32CubeMX 自动生成文件 =====
# CubeMX 每次重新生成代码都会更新的生成物索引, 不需要版本控制
.mxproject

# CubeMX 备份文件
*.ioc.bak
Backup*/
